/* CSS */
body {
  font-family: 'Roboto';
  margin: 0;
  background-color: #eeeeee;
}

hr {
  border: none; 
  height: 2px;
  background-color: #ccc; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 92px;
  background-color: rgb(2, 2, 2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1000;
}

.right_section {
display: flex;
flex-direction: row;
align-items: center;
}

.logo_app {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  object-fit: cover;
  margin-left: 20px;
  margin-top: 10px;
}

.middle_section {
flex: 1;
margin-left: 70px;
margin-right: 50px;
max-width: 700px;
display: flex;
align-items: center;
}

.search_bar {
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(195, 195, 195);
  border-radius: 2px;
  box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.15);
  }
  
  .search_bar::placeholder {
    font-family: 'Roboto';
    font-size: 16px;
  }
  
.search_button {
  height: 39px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(195, 195, 195);
  margin-left: -5px;
  margin-right: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
  transition: box-shadow 0.1s, margin-top 0.15s, margin-left 0.15s;
  cursor: pointer;
}

.search_button:active {
  box-shadow: none;
  margin-top: 2px;
  margin-left: 2px;
}

.search_icon{
  height: 30px;
  margin-top: 4px;
}

.voice_button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(244, 244, 244);
  cursor: pointer;
}

.voice_icon {
  height: 28px;
  margin-top: 4px; 
}

.left_section{
width: 400px;
display: flex;
align-items: center;
}

.button_home {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgb(240, 240, 240);;
  border-style: solid;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-color: rgb(25, 28, 29);
  color: rgb(25, 28, 29);
  text-decoration: none;
  transition: opacity 0.38s;
  cursor: pointer;
}

.button_home:hover {
  opacity: 0.8;
}

.button_collection {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgb(240, 240, 240);;
  border-style: solid;
  border-color: rgb(25, 28, 29);
  color: rgb(25, 28, 29);
  text-decoration: none;
  margin-right: -5px;
  margin-left: -5px;
  transition: opacity 0.38s;
  cursor: pointer;
}

.button_collection:hover {
  opacity: 0.8;
}

.button_contact {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgb(240, 240, 240);;
  border-style: solid;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-color: rgb(25, 28, 29);
  color: rgb(25, 28, 29);
  text-decoration: none;
  transition: opacity 0.38s;
  cursor: pointer;
}

.button_contact:hover {
  opacity: 0.8;
}
/* Home Section */
.home_section {
  padding-top: 100px;
}

.title_home {
  text-align: center;
  font-family: 'Libre Baskerville';
  font-size: 36px;
  color: rgb(24, 24, 24);
}

.message_home {
  text-align: center;
  color: rgb(147, 147, 147);
  margin-bottom: 58px;
}

.content {
  display: flex;
  flex-direction: row;
}

.slide_section {
  margin-left: 10px;
  position: relative;
  overflow: hidden;
}

.car_img {
  height: 470px;
  width: 750px;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 1s ease-in-out;
  display: none;
}

.active {
  display: block;
  opacity: 1;
}

.comment_section {
  margin-left: 50px;
  margin-right: 50px;
  padding-right: 50px;
  border-right: 1px solid #ccc;
  max-width: 250px;
}

.user_section {
  display: flex;
  margin-right: 30px;
}

.user_info {
  display: flex;
  align-items: flex-start; 
}

.img_user {
  width: 55px;
  height: 55px;
  border-radius: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.text_info {
  display: flex;
  flex-direction: column; 
}
.customer_name, customer_status {
  margin: 0;
}

.benefit_section {
  max-width: 350px;
  text-align: justify;
}

/* Collection Section */
.collection_section {
  padding-top: 80px;
}
.title_collection {
  text-align: center;
  font-family: 'Libre Baskerville';
  font-size: 36px;
  color: rgb(24, 24, 24);
  padding-top: 20px;
  margin-top: 0;
  margin-bottom: 10px;
}

.message_collection {
  text-align: center;
  color: rgb(147, 147, 147);
  margin: 0;
}

.category_section {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
}

.image-container {
  box-shadow: 5px 5px 20px black;
  height: 240px;
  overflow: hidden;
  margin: 27px;
  max-width: 400px;
  border-radius: 4px;
}

.image-container:hover {
  cursor: pointer;
}

.image-container:hover .first_row_text {
  height: 120px;
  bottom: -458px;
}

.image-container:hover .second_row_text {
  height: 120px;
  bottom: -750px;
}

.image-container:hover .description {
  opacity: 1;
  visibility: visible;
}

.image-container:hover .category_img {
  transform: scale(1.1) rotate(-3deg);
}

.category_img {
  height: 240px;
  width: 400px;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
  transition: 0.38s;
}

.first_row_text {
  height: 50px;
  width: 400px;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  bottom: -458px;
  background: rgba(27, 27, 27, 0.5);
  color: white;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  transition: 0.38s;
}

.second_row_text {
  height: 50px;
  width: 400px;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  bottom: -750px;
  background: rgba(27, 27, 27, 0.5);
  color: white;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  transition: 0.38s;
}

.text_img,
.description {
  margin: 0;
}
.text_img {
  margin-top: 5px;
  margin-left: 10px;
  font-size: 24px;
}

.description {
  margin-left: 10px;
  visibility: hidden;
  opacity: 0;
}

/* Contact Section */
.contact_us_section {
  padding-top: 100px;
}
.title_contact {
  text-align: center;
  font-family: 'Libre Baskerville';
  font-size: 36px;
  color: rgb(24, 24, 24);
  padding-top: 20px;
  margin-top: 0;
  margin-bottom: 10px;
}

.message_contact {
  text-align: center;
  color: rgb(147, 147, 147);
  margin-bottom: 60px;
  
}

.customer_sevice_section {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.motto_section {
  display: flex;
  justify-content: space-between;
}

.motto_container_1 {
  max-width: 320px;
  margin-right: 10px;
}
.motto_container_2 {
  max-width: 320px;
  margin-left: 10px;
}

.motto_logo {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  object-fit: cover;
}

.title_motto {
  font-size: 25px;
  margin: 0;
}
.message_motto {
  text-align: justify;
  margin: 0;
  margin-bottom: 30px;
}
.contact_section form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.contact_section {
  background-color: white;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 60px;
  border-radius: 4px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px; 
}

.contact_header {
  font-size: 30px;
  margin-bottom: 0;
}

.contact_message {
  font-size: 16px;
  color: rgb(175, 175, 175);
  margin-top: 0;
  margin-bottom: 30px;
}

.contact_label {
  font-size: 16px;
  font-weight: bold;
}

.input_contact {
  font-size: 16px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
  border-color: rgb(195, 195, 195);
  border-style: solid;
  border-width: 1px;
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.error{
  margin: 0;
  color: red;
}
.submit_contact {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: rgb(25, 28, 29);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(25, 28, 29);
  cursor: pointer;
  transition: background-color 0.38s,
  color 0.38s;
}

.submit_contact:hover {
  background-color: white;
  color: rgb(25, 28, 29);
}
/* Footer Section */
.title_footer {
  text-align: center;
  font-family: 'Libre Baskerville';
  margin-top: 5px;
  font-size: 20px;
}

.text_footer_1{
  text-align: center;
  color: rgb(156, 156, 156);
  margin: 0;
  margin-bottom: 5px;
}

.text_footer_2{
  text-align: center;
  color: rgb(156, 156, 156);
  margin: 0;
  margin-bottom: 10px;
}
/* 768 x 689 */
@media only screen and (max-width: 768px) {
  /* Header */
  .middle_section {
    margin-left: 20px;
    margin-right: 20px;
  }

  .left_section {
    max-width: 100%;
  }

  .button_home,
  .button_collection,
  .button_contact {
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /* Home Section */
  .title_home {
    margin-top: 20px;
  }
  .message_home {
    margin-bottom: 10px;
  }
  .content {
    flex-direction: column;
    align-items: center;
  }

  .slide_section {
    margin-left: 0;
  }
  
  .comment_section {
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 0;
    border-right: none;
    max-width: 100%;
  }
  
  /* Collection Section */
  .collection_section {
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 0;
    border-right: none;
    max-width: 100%;
  }
  
  #row_1 {
    bottom: -1360px;
  }

  #row_1:hover {
    bottom: -1360px;
  }

  #row_2 {
    bottom: -1660px;
  }
  
  #row_2:hover {
    bottom: -1660px;
  }
  #row_3 {
    bottom: -1953px;
  }
  
  #row_3:hover {
    bottom: -1953px;
  }
  #row_4 {
    bottom: -2248px;
  }
  
  #row_4:hover {
    bottom: -2248px;
  }
  #row_5 {
    bottom: -2542px;
  }
  
  #row_5:hover {
    bottom: -2542px;
  }
  #row_6 {
    bottom: -2835px;
  }
  
  #row_6:hover {
    bottom: -2835px;
  }

  /* Contact Section */
  .contact_us_section {
    margin-top: 100px;
  }

  .customer_sevice_section {
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }

  .motto_section {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  .motto_container_1,
  .motto_container_2 {
    max-width: 400px; 
    margin: 15px 0; 
  }

  .contact_section {
    padding-left: 20px; 
    padding-right: 20px; 
  }

  .contact_header,
  .contact_message,
  .contact_label,
  .input_contact,
  .submit_contact {
    max-width: 100%; 
  }
}
/* 320 x 689 */
@media only screen and (max-width: 320px) {
  /* Header Section */
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
  }
  
  .right_section {
    margin-bottom: 30px;
    margin-right: 50px;
  }
  .middle_section {
    margin-bottom: 30px;
    margin-right: 38px;
  }
  .left_section {
    margin-bottom: 30px;
    margin-left: 60px;
  }
  /* Home Section */
  .home_section {
    padding-top: 250px;
  }
  .title_home {
    font-size: 20px;
    margin-left: 100px;
  }
  .message_home {
    margin-left: 100px;
  }
  .car_img {
    height: 400px;
    width: 500px;
    margin-left: 54px;
  }
  .benefit_section{
    margin-left: 20px;
  }
  /* Collection Section */
  .collection_section {
    padding-top: 250px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }
  .image-container {
    height: 150px;
    width: 100%;
    max-width: 1000px;
  }
  
  .category_img {
    max-width: 100%;
    width: 100%;
    height: 200px; 
  }
  #img_1 {
    object-fit: cover;
    object-position: top;

  }
  #img_2 {
    object-fit: cover;
    object-position: center;

  }
  #img_3 {
    object-fit: contain;
    object-position: top center;

  }
  #img_4 {
    object-fit: cover;
    object-position: center;

  }
  #img_5 {
    object-fit: cover;
  }
  #img_6 {
    object-fit: cover;
    object-position: center;

  }
  #row_1 {
    bottom: -1555px;
  }
  
  #row_1:hover {
    bottom: -1555px;
  }

  #row_2 {
    bottom: -1760px;
  }
  
  #row_2:hover {
    bottom: -1760px;
  }
  #row_3 {
    bottom: -1966px;
  }
  
  #row_3:hover {
    bottom: -1966px;
  }
  #row_4 {
    bottom: -2170px;
  }
  
  #row_4:hover {
    bottom: -2170px;
  }
  #row_5 {
    bottom: -2373px;
  }
  
  #row_5:hover {
    bottom: -2373px;
  }
  #row_6 {
    bottom: -2580px;
  }
  
  #row_6:hover {
    bottom: -2580px;
  }
  .first_row_text {
    height: 50px;
    width: 246px;
  }
  .image-container:hover .first_row_text {
    height: 100px;
  }
  .second_row_text {
    height: 50px;
    width: 246px;
  }
  .image-container:hover .second_row_text {
    height: 100px;
  }
  .text_img {
    font-size: 20px;
  }
  .description {
    font-size: 12px;
  }
  /* Contact Section */
  .contact_us_section {
    margin-left: 100px;
    padding-top: 250px;
  }
  /* Footer Section */
  .footer_section{
    margin-left: 100px;
  }
}
/* 2560 x 1253 */
@media only screen and (min-width: 2560px) {
  /* Header */
  header {
    height: 130px;
  }
  .right_section {
    max-width: 100%;
  }
  .logo_app {
    width: 100px;
    height: 100px;
  }
  .middle_section {
    max-width: 100%;
  }
  .search_bar {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .search_bar::placeholder {
    font-size: 30px;
  }
  .search_button {
    height: 67px;
    width: 100px;
  }
  
  .search_icon{
    height: 50px;
    margin-top: 4px;
  }

  .voice_button {
    height: 67px;
    width: 70px;
    border-radius: 40px;
  }
  .voice_icon {
    height: 50px;
  }

  .left_section {
    width: 900px;
    max-width: 100%;
  }

  .button_home,
  .button_collection,
  .button_contact {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px
  }

/* Home Section */
  .home_section {
    padding-top: 150px;
    padding-bottom: 70px;
  }
  .content {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .title_home {
    margin-top: 10px;
    font-size: 50px;
  }
  .message_home {
    font-size: 30px;
    margin-bottom: 50px;
  }

  .slide_section {
    margin-left: 20px;
    margin-top: 40px;
  }
  .car_img {
    height: 850px;
    width: 1200px;
  }
  .benefit_section {
    margin-right: 100px;
    font-size: 30px;
    width: 600px;
    max-width: 100%;
  }

  .comment_section {
    margin-left: 100px;
    margin-right: 20px;
    padding-right: 0;
    border-right: none;
    max-width: 100%;
    font-size: 30px;
    flex: 1;
  }
  .customer_comment {
    font-size: 25px;
  }
  .img_user {
    height: 100px;
    width: 100px;
  }
  
/* Collection Section */
  .collection_section {
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 0;
    padding-top: 120px;
    border-right: none;
    max-width: 100%;
  }
  
  .title_collection {
    margin-top: 10px;
    font-size: 50px;
  }
  .message_collection {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .image-container {
    height: 430px;
    width: 700px;
    max-width: 1000px;
  }
  
  .category_img {
    max-width: 100%;
    width: 700px;
    height: 430px; 
  }
  #row_1 {
    bottom: -842px;
  }
  
  #row_1:hover {
    bottom: -842px;
  }

  #row_2 {
    bottom: -842px;
  }
  
  #row_2:hover {
    bottom: -842px;
  }
  #row_3 {
    bottom: -842px;
  }
  
  #row_3:hover {
    bottom: -842px;
  }
  #row_4 {
    bottom: -1326px;
  }
  
  #row_4:hover {
    bottom: -1326px;
  }
  #row_5 {
    bottom: -1326px;
  }
  
  #row_5:hover {
    bottom: -1326px;
  }
  #row_6 {
    bottom: -1326px;
  }
  
  #row_6:hover {
    bottom: -1326px;
  }
  .text_img {
    font-size: 50px;
  }
  .description{
    font-size: 30px;
  }
  .first_row_text {
    height: 100px;
    width: 700px;
  }
  .image-container:hover .first_row_text {
    height: 240px;
  }
  .second_row_text {
    height: 100px;
    width: 700px;
  }
  .image-container:hover .second_row_text {
    height: 230px;
  }
  /* Contact Section */
  .contact_us_section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .title_contact {
    margin-top: 10px;
    font-size: 50px;
  }
  .message_contact {
    font-size: 30px;
    margin-bottom: 50px;
  }
  .motto_container_1 {
    width: 500px;
    max-width: 100%;
  }
  .motto_container_2 {
    width: 500px;
    max-width: 100%;
    margin-left: 20px;
  }
  .motto_logo {
    height: 300px;
    width: 300px;
    border-radius: 150px;
  }
  .title_motto {
    font-size: 40px;
  }
  .message_motto {
    font-size: 30px;
  }
  .contact_section {
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    max-width: 100%;
  }
  .contact_header,
  .contact_label {
    font-size: 40px;
  }
  .contact_message {
    font-size: 25px;
    max-width: 500px;
  }
  .input_contact {
    font-size: 30px;
  }
  .error {
    font-size: 23px;
  }
  .submit_contact{
    font-size: 30px;
  }
}